.gradient-border{
    border-image: linear-gradient(90deg, #E23636 0%, #EF8F8F 25%, #E23636 50%, #EF8F8F 62.5%, #E23636 100%) 1;
   
    border-bottom-width: 4px;
    border-bottom-style: solid;
}
.nav-shadow{
    box-shadow: 0px 2px 25px 1px #28282814;
}
.sh{
    box-shadow: 10px 2px 8px 8px #2828280A, -10px -8px 16px -8px #28282814;

}
.black-border{
    border: 0.5px solid;

border-image-source: linear-gradient(90deg, rgba(38, 38, 38, 0) -0.5%, #262626 50.13%, rgba(38, 38, 38, 0) 100.75%);

}
.grad-line{
    background: rgb(2,0,36);

    background: linear-gradient(90deg, rgba(38, 38, 38, 0) -0.5%, #262626 50.13%, rgba(38, 38, 38, 0) 100.75%);
    
    
}
.custom-label-rtl {
    left: inherit !important;
    right: 2rem !important;
    transform-origin: right !important;
  }
  .custom-label-rtl + .MuiOutlinedInput-root fieldset {
    text-align: right;
  }
  .swiper-scrollbar {
    bottom: 0px !important;
  }
